<div class="content_header">

	<h2> NARRATIVE </h2>
		<p> By Annelisse Santiago, Biological Science, <a href="mailto:as2432@cornell.edu">as2432@cornell.edu</a> </p>

<div class="content_body">
	
<h3> Salient facts: </h2>

<p> Was a Cape Verde-type hurricane (an Atlantic hurricane that develops near the Cape Verde islands, off the west coast of Africa).
Reached category 4 at its peak but weakened by wind shear. </p>

<ul>
	<li> Originated in <span class="date">September 13, 1998</span> as a tropical wave and headed west.</li>
	<li> On <span class="date">September 15</span>, it was classified as “tropical depression seven” 
	     and the following day it became a tropical storm.</li>
	<li> On <span class="date">September 17</span> it was officially classified as a hurricane, 
		 though it continued to strengthen as days passed, peaking at Category 4 on 
		 <span class="date">September 19th and 20th<span>.</li>
	<li> By the 21st it had weakened to Category 3 and hit Antigua and St. Kitts. The same day, Georges affected Puerto Rico as a 
		 Category 2, where it weakened over the island’s central mountains. After crossing the island, Georges strengthened again over
		 the Mona Passage and left the Puerto Rico zone as Category 3.</li>
	<li> On September 22 it rampaged the Dominican Republic where it weakened to a Category 1 after going 
		 through the island’s central mountain range.</li>   
	<li> On September 23 it passed through Cuba with minimal hurricane status.</li> 
	<li> As it approached Florida, it strengthened to Category 2 and struck Key West on September 25th.</li> 
	<li> Its 7th and final landfall was near Biloxi, Mississippi on September 28th.</li> 
	<li> Within 24 hours, Georges weakened to a tropical depression and currents sent it over southern Mississippi.</li> 
	<li> Georges dissipated on October 1st near the border of Florida and Georgia.</li> 
	<li> At its time, Hurricane Georges resulted in the costliest disaster in terms of aid for the American Red Cross
		 in its 125 years of history.</li>
</ul>

<h3> Impact: </h3>

<ul> 
	<li>Extensive amounts of rainfall and mudslides in Cuba, Hispaniola and Puerto Rico.</li>
	<li>Floods</li>
	<li>Property damage, including houses and schools.</li>
	<li>High winds shut down telephone and power lines.</li>
	<li>Beach erosion</li>
	<li>Uprooting of trees</li>
	<li>Crop loss and damage (coffee, banana/plantains, poultry)</li>
	<li>Water facility damage</li>
	<li>Storm surges</li>
	<li>F2 tornadoes (Puerto Rico, Mississippi, Alabama, Georgia)</li>
	<li>$6 billion (1998 USD, $8 billion 2010 USD) in damage</li>
	<li>$104 million (1998 USD, $150 million 2010 USD) spent by the American Red Cross
	on relief aid through Puerto Rico, U.S. Virgin Islands, Florida, Louisiana, Alabama, and Mississippi.</li>
<ul>

<h3> Predictability and measures taken: </h3>

<h4>Predicted in Puerto Rico</h4>

Preparation: 
The Puerto Rican people prepared by boarding windows and purchasing dried foods and canned supplies.
The island’s governor at the time, Pedro Rosselló, activated the National Guard, opened 416 shelters and temporarily prohibited alcohol sales.
More than 28,000 people evacuated their homes and moved to shelters.
The Federal Emergency Management Agency (FEMA) and the American Red Cross deployed workers with supplies for a potentially deadly event.
The National Hurricane Center issued hurricane warnings to the island 37 hours prior to landfall.

Not predicted in Hispaniola (Island consisting of two countries, the Dominican Republic and Haiti) 
Georges passed through the entire Island, entering it from the east. 
In the Dominican Republic, the hurricane was not advised by state authorities to the citizenry, which resulted in catastrophic economic and life losses. 
To learn what measures could have been taken by the Dominican government to successfully mitigate with the hurricane, please visit the “Societal Lessons” page. INSERT HYPERLINK TO SECTION HERE. 
Nevertheless, in Haiti, the government did have time to open shelters and evacuate people living in low coastal regions. 

Predicted in Cuba
Preparation:
More than 200,000 people were evacuated from eastern coastal areas.
The revolutionary army was sent to farmlands of potential impact areas to harvest crops that could be destroyed during the storm.
Members of Cuban government travelled door-to-door to alert everyone.
Fidel Castro announced on live television that their country would withstand the hurricane and they would use all of their resources to ensure a quick recovery.
The Cuban Government issued Hurricane Warnings 30.5 hours prior to landfall.

Predicted in United States
Preparation:
Mandatory evacuation order in southeastern Florida: over 1.2 million evacuated, but 20,000 refused to leave.
Southeastern Louisiana evacuated.
Louisiana Superdome used as a refuge for those unable to evacuate New Orleans.
 Evacuation of Alabama’s coastal counties.

Follow up measures to avert similar disasters in the future: 
 In most affected areas, damaged properties were rebuilt with a stronger construction, using cement, which is the most hurricane resistant material. 
 Nevertheless, poverty stricken communities or countries like Haiti were unable to rebuild on such expensive construction material. 





SUMMARY OF DEATHS AND ECONOMIC LOSS BY STATE/COUNTRY 
Country	State	Deaths	Damage
Antigua and Barbuda	3	$159.9 million
St. Kitts and Nevis	5	$484 million
Dominican Republic	380	$1.2 billion
Haiti	209	$179 million
Bahamas	1	Unknown
Cuba	6	$305.8 million
United States	Alabama	1	$201.4 million
Florida	0	$472.1 million
Georgia	0	$4.3 million
Louisiana	3	$30.1 million
Mississippi	0	$676.8 million
Puerto Rico	7	$1.8 billion
U.S. Virgin Islands	0	$2 million
Total	604	$5.9 billion







SOCIAL AND SCIENTIFIC LESSONS 
By Patricio Martínez ’13, Government and History, pgm45@cornell.edu       	As it made its way across the Caribbean and the Gulf Coast, Hurricane Georges provided the areas it affected with important lessons about the proper preparation and mitigation required for successfully coping with future natural disasters of high intensity.  The following is an overview of the most significant lessons taught by the hurricane to its affected countries. Although its specific effects and repercussions varied by area, in general terms, the path of Georges emphasized the need of preparing comprehensively as way of reducing the impact of predicted natural hazards.   Societal Lessons
 A. Puerto Rico 
- The destruction caused by Georges reminded Puerto Ricans that their island was far from being self-sufficient. According to journalist Guillermo Moscoso, due to the lack of proper national resources, the Puerto Rican government immediately requested aid from the United States after the hurricane to effectively remedy its aftermath. For some, the country’s lack of its own resources to mitigate Georges’s devastation emphasized the necessity of remaining under U.S. political control, despite the claims of various groups advocating for the Island’s independence. 

- In a more intangible sense, for Moscoso, the effective and rapid  mobilization of volunteers and the  Third Sector to assist the government’s recovery efforts showcased at its best “the spirit of unity, comradeship, compassion...[and] solidarity”  of Puerto Ricans, which allows for their country to be known internationally as the “Isle of Enchantment.”
 B. Gulf States, U.S.A.    	- In Louisiana, the passage of Georges provided state emergency officials with the opportunity to evaluate the effectiveness of a 1997 shelter assessment project. This project basically catalogued which structures, identified by the state as potential shelters, were indeed prepared to open during a high intensity natural disaster like Hurricane Georges. Thus, when deciding which shelters to open, Louisiana emergency management officials acted according to the preparedness classifications established by the shelter assessment study. A study by professors at Louisiana State University concluded that this approach followed by state authorities did provide a systematic means for identifying and opening the shelters best prepared to stand the strength of Georges. Some of the safety and preparedness factors taken into consideration by the shelter assessment exam included the amount of lay down hazards, wind and debris exposure, wind design verification and possibility of roof drainage. The study’s results served as precedent for other Gulf states to implement assessment studies when deciding which shelters to open during high intensity natural disasters.    C. Dominican Republic  
- In the Dominican Republic, one of the countries most strongly affected by Georges and where it  was not predicted by emergency authorities to the citizenry, the hurricane provided the national government with important lessons of how to prepare prior for a predicted natural disaster of high intensity. Some of the specific lessons taught include: 

a. Better communication prior to the event:  Communication of the hurricane’s 	threat 	to the citizenry was nonexistent and it transformed a manageable 	national disaster into a catastrophic event. The government barely released any 	emergency warnings to the country’s media, which resulted in the populace’s 	unawareness of the hurricane’s proximity and, as a result, in their lack of 	effective preparation. 

b. Importance of properly activating the national emergency plan: The 	government’s national emergency plan never became effective, which resulted in 	citizens having to conduct evacuations by themselves without any kind of though-	out strategy 	when the disaster was already imminent. 

c. Need of preparing shelters comprehensively: Georges’ taught the 	Dominican government that shelters should be equipped to not only provide 		momentary protection  throughout the hurricane’s passage, but also adequate 	protection and shelter afterwards. More specifically, Georges pinpointed at the 	necessity of increasing the shelter’s capacity for water storage. 

d. Importance of adequately coordinating distribution of aid: The 	government learned the necessity of assuring that the distribution of international 	food aid will be received equally by those in need. 
  Scientific Lessons   	Because of its nature as a common phenomenon, Georges’s did not provide the scientific community with any groundbreaking lessons about the workings of hurricanes. Nonetheless, its passage did provide some scientists in affected countries, such as Puerto Rico, to study the effects of intense hurricanes on ecological biodiversity.   A. Georges’s Impact on the Ecology of Tropical Forest in Puerto Rico   	In a 2005 study by ecologists of the University of Puerto Rico, examining species composition and structure in a forest of the island, it was revealed that species richness increased after the passage of Georges. Investigators also concluded that, in the hurricane’s aftermath, the regeneration of flora in the area was five times higher than losses due to mortality. The results of this study are particularly interesting as they reveal how, despite appearing unlikely, natural disasters can inflict some positive effects upon the environments they affect. 


PERSONAL PREPARATION AND RESPONSE PLAN 
By Ruby Perlmutter ’13, Comparative Literature, rep85@cornell.edu

Societal Preparation
By nature, hurricanes originate in warm oceans, using the heat to build energy. Hurricanes originate as tropical disturbances and gain force and energy to become hurricanes. This build up means that governments can forecast oncoming storms predicted to hit land within 24 hours, giving citizens and governments time to evacuate. This time allows people in dangerous zones to take some precautions, but the best way to adequately combat the effects of hurricane damage are infrastructural. 

Combating Structural Damage

Much of the damage caused by Hurricane Georges was structural, but notably less so in the Virgin Islands, where buildings were rebuilt to comply with Federal Emergency Management Agency (FEMA) codes in response to two previous hurricanes. One of the major problems in the aftermath of the storm, especially in the Virgin Islands and St. Kitts & Nevis, was homelessness. The steps necessary to provide for a population left with without resources are in the end more strenuous on society than long term prevention. In areas at risk for hurricanes, namely areas along tropical coasts, regulating structures would decrease later damage to homes and buildings. This saves money in reparations after a natural hazard, and speeds up the return to normal life. 



Combating Economic Damage

Hurricane Georges hit many islands whose economies depend largely on agriculture. Countries such as Puerto Rico and the Dominican Republic lost the majority of their crops. Instilling precautionary watershed protection could potentially reduce the risk of damage in flood prone areas. Steps such as structures to stop and hold incoming floodwaters, and more advanced drainage systems for excessive rain could potentially decrease some of the economic loss suffered from hurricanes. 


Warning Systems and Evacuation

Ensuring that citizens know about the risk of natural hazards and providing means for evacuation would decrease the mortalities associated with natural disasters. Informing citizens as to evacuation routes, evacuation transportation, and prepared locations to evacuate to would give citizens at risk the opportunity to leave risk zones more efficiently. Further, broadcasting warnings often and ubiquitously would allow for citizens to be informed and allow time for personal preparation. 

	


Personal Preparation

In addition to long term infrastructure to evade disastrous effects of natural hazards, there are personal precautions that individuals can take. Effects of Hurricane Georges included dramatically increased rainfall, floods, and winds. Educating individuals on steps to take could decrease personal damage and increase personal safety. If in a future flood or hurricane, knowing the risks and preparing will prove crucial. In times of risky weather, making a point to listen to Radio and News warning may allow for the bit of extra time that can make a significant difference. 

Floods

	Do not drive through floods, as a small depth of water can overtake a car. Move to higher land, and do not attempt to walk through water. Know where to go nearby that will be out of range of rising waters, and prepare supplies such as food and clean water, medication, light source, money, and important documents in case your home become uninhabitable. In order to best assess the risks of a flood, know the geography and likelihood of rising waters in your area and how they will affect your home. Knowing what to expect allows to more effective responses. 



Winds and More 

	When a hurricane warning is issued, protection from the wind can prevent excessive damage. Bringing indoors objects that can be picked up will help to avoid collisions. Reinforcing windows and other glass surfaces can prevents home damage, and supporting the roof can prevent the wind from destroying shelter. Turning off any gas can prevent fires and leakages, and ensuring any automobiles are prepared to drive significant distance allows for a more reliable evacuation. Further, knowing the risks involved, as well as your area and home’s weaknesses allows for more targeted, specific, and successful preparation. 
