<p>BASIC FACTS 
By Mimi Eisen, History, <a href="mailto:mse42@cornell.edu">mse42@cornell.edu</a>
</p>
<p>NARRATIVE </br>
By Annelisse Santiago, Biological Science,  <a href="mailto:as2432@cornell.edu">as2432@cornell.edu</a>
</p>
<p>PERSONAL PREPARATION AND RESPONSE PLAN </br>
By Ruby Perlmutter ’13, Comparative Literature, <a href="mailto:rep85@cornell.edu">rep85@cornell.edu</a>
</p>
<p>SOCIAL AND SCIENTIFIC LESSONS </br>
By Patricio Martínez ’13, Government and History, <a href="mailto:pgm45@cornell.edu">pmg45@cornell.edu</a>
</p>
<p>DESIGN AND DEVELOPMENT</br>
By Francis Pedraza '11, History, <a href="mailto:fjp29@cornell.edu">fjp29@cornell.edu</a></br>
By Keenan Weatherford '11, <a href="mailto:ksw47@cornell.edu">pmg45@cornell.edu</a>
</p>