<p><strong> BASIC FACTS </strong></br>
By Mimi Eisen, History, mse42@cornell.edu </p>

<p>
Event: Hurricane Georges (1998) </br>
Date: September 15th – October 1st, 1998 </br>
Time: Tropical depression at 12:00 UTC, September 15th  (evolved to tropical storm within 24 hours) </br>
Location: Caribbean Sea and Gulf of Mexico (impacting Leeward Islands, Puerto Rico, Dominican Republic, Haiti, Cuba, Florida Keys, Florida Panhandle, Southeastern Louisiana, Alabama, Mississippi) </br>
Type of Hazard: Hurricane </br>
Casualties: 602 direct deaths, > 500,000 injured, ~ 200,000 left homeless </br>
Economic loss: $5.9 billion ($8 billion in 2011 USD) in damages, mostly in St. Kitts and Nevis, Puerto Rico, and Hispaniola </br>

Map: http://www.wxresearch.org/family/geo-mon.jpg </br>
</p>